<footer class="container-fluid text-center fixed-bottom bg-secondary text-light p-0">
  <div class="row m-1 justify-content-md-center">
    <div class="col-2">
      <!-- Adress 
      Nordenskiöldsgatan 13 <br>
      211 19 Malmö -->
      <p>Adress</p>  
      <p>Nordenskiöldsgatan 13</p>
      <p>211 19 Malmö</p>
    </div>
    <div class="col-2">
      <p>E-Mail</p>
      <p>4iRad_Grupp3@Lernia.se </p>
    </div>
    <div class="col-2">
      <p>Telefon</p> 
      <p>0771-650 6XX</p>
    </div>
  </div>
  <div class="row m-1 mb-2"> 
    <div class="col">
      4iRad Grupp3
    </div>
  </div>
</footer>