<section class="${this.activeGame ? 'row' : '' }">

  <section class="${this.activeGame ? 'game-board col-8' : '' }">
    ${this.activeGame ? this.game : ''}
    ${!this.activeGame ? this.inputPage : ''}
  </section>
  ${!this.activeGame ? '' : `<section class="col-4"><p>Spelare 1 ${this.playerOneName}</p><p>Spelare 2 ${this.playerTwoName}</p></section>`}

  ${!this.activeGame ? `` : `<section class="row">
    <section class="col-12 mt-5">
      <a href="/new-game" id="quit-game" class="btn btn-secondary" role="button" aria-pressed="true">Avbryt</a>
    </section>
  </section>`}

</section>