<section class="${this.activeGame ? 'row' : '' }">
    <!-- <a href="/new-game" role="button" class="btn btn-danger return">Cancel / Return</a> -->

  ${!this.activeGame ? '' : `
  <section class="col-6 player text-center">
    <p id="player1" class="active-player">${this.playerOneName}</p>
  </section>
  <section class="col-6 player text-center">
    <p id="player2">${this.playerTwoName}</p>
  </section>
  `}

  <section class="${this.activeGame ? 'mt-2 col-12' : '' }">
    ${this.activeGame ? this.game : ''}
    ${!this.activeGame ? this.inputPage : ''}
  </section>

  ${!this.activeGame ? `` : `
  <section class="row">
    <section class="col-12 mt-5">
      <a href="/new-game" id="quit-game" class="btn btn-danger showNavFoot" role="button" aria-pressed="true">Avbryt</a>
    </section>
  </section>
  `}

</section>