<div class="game">
  <div class="row playing-field">
    <div class="a col-sm">
      <div class="a">
        <div class="a 1"></div>
      </div>
      <div class="a">
        <div class="a 2"></div>
      </div>
      <div class="a">
        <div class="a 3"></div>
      </div>
      <div class="a">
        <div class="a 4"></div>
      </div>
      <div class="a">
        <div class="a 5"></div>
      </div>
      <div class="a">
        <div class="a 6"></div>
      </div>
    </div>

    <div class="b col-sm">
      <div class="b">
        <div class="b 1"></div>
      </div>
      <div class="b">
        <div class="b 2"></div>
      </div>
      <div class="b">
        <div class="b 3"></div>
      </div>
      <div class="b">
        <div class="b 4"></div>
      </div>
      <div class="b">
        <div class="b 5"></div>
      </div>
      <div class="b">
        <div class="b 6"></div>
      </div>
    </div>

    <div class="c col-sm">
      <div class="c">
        <div class="c 1"></div>
      </div>
      <div class="c">
        <div class="c 2"></div>
      </div>
      <div class="c">
        <div class="c 3"></div>
      </div>
      <div class="c">
        <div class="c 4"></div>
      </div>
      <div class="c">
        <div class="c 5"></div>
      </div>
      <div class="c">
        <div class="c 6"></div>
      </div>
    </div>

    <div class="d col-sm">
      <div class="d">
        <div class="d 1"></div>
      </div>
      <div class="d">
        <div class="d 2"></div>
      </div>
      <div class="d">
        <div class="d 3"></div>
      </div>
      <div class="d">
        <div class="d 4"></div>
      </div>
      <div class="d">
        <div class="d 5"></div>
      </div>
      <div class="d">
        <div class="d 6"></div>
      </div>
    </div>

    <div class="e col-sm">
      <div class="e">
        <div class="e 1"></div>
      </div>
      <div class="e">
        <div class="e 2"></div>
      </div>
      <div class="e">
        <div class="e 3"></div>
      </div>
      <div class="e">
        <div class="e 4"></div>
      </div>
      <div class="e">
        <div class="e 5"></div>
      </div>
      <div class="e">
        <div class="e 6"></div>
      </div>
    </div>

    <div class="f col-sm">
      <div>
        <div class="f 1"></div>
      </div>
      <div>
        <div class="f 2"></div>
      </div>
      <div>
        <div class="f 3"></div>
      </div>
      <div>
        <div class="f 4"></div>
      </div>
      <div>
        <div class="f 5"></div>
      </div>
      <div>
        <div class="f 6"></div>
      </div>
    </div>

    <div class="g col-sm">
      <div class="g">
        <div class="g 1"></div>
      </div>
      <div class="g">
        <div class="g 2"></div>
      </div>
      <div class="g">
        <div class="g 3"></div>
      </div>
      <div class="g">
        <div class="g 4"></div>
      </div>
      <div class="g">
        <div class="g 5"></div>
      </div>
      <div class="g">
        <div class="g 6"></div>
      </div>
    </div>
    
  </div>
</div>