<section class="${this.activeGame ? 'row' : '' }">
    <!-- <a href="/new-game" role="button" class="btn btn-danger return">Cancel / Return</a> -->

  ${!this.activeGame ? '' : `
  <section class="col-sm-2 player text-center player1-section">
    <div class="playerOne-img-section">
      <img src="${this.inputPage.playerOneImg}"> 
    </div>
    <p id="player1">${this.game.player1.name}</p>
  </section>
  `}

  <section class="${this.activeGame ? 'mt-2 col-sm-8' : '' }">
    ${this.activeGame ? this.game : ''}
    ${!this.activeGame ? this.inputPage : ''}
  </section>

  ${!this.activeGame ? '' : `
  <section class="col-sm-2 player text-center player2-section">
    <div class="playerTwo-img-section">
      <img src="${this.inputPage.playerTwoImg}"> 
    </div>
    <p id="player2">${this.game.player2.name}</p>
  </section>
  `}

  ${!this.activeGame ? `` : `
  <section class="row">
    <section class="col-12 mt-5">
      <a href="/new-game" id="quit-game" class="btn btn-danger gameExitButton showNavFoot" role="button" aria-pressed="true">Avbryt</a>
    </section> `}
     ${this.modals}
 </section>