<section>
  <section class="row">

    <section class="col-6">
      <div class="form-group">
        <label for="player-name">Spelare 1:</label>
        <input type="text" class="form-control" id="player1-name" placeholder="Skriv spelarens namn">
      </div>
    </section>

    <section class="col-6">
      <div class="form-group">
        <label for="type-of-player">Typ</label>
        <select class="form-control" id="type-of-player1">
          <option value="player">Spelare</option>
          <option value="computer">Dator</option>
        </select>
      </div>
    </section>

  </section>

  <section class="row">

    <section class="col-6">
      <div class="form-group">
        <label for="player2-name">Spelare 2:</label>
        <input type="text" class="form-control" id="player2-name" placeholder="Skriv spelarens namn">  <!-- required pattern=".{2,10}"regEx för max min length -->
      </div>
    </section>

    <section class="col-6">
      <div class="form-group">
        <label for="type-of-player2">Typ</label>
        <select class="form-control" id="type-of-player2">
          <option value="player">Spelare</option>
          <option value="computer">Dator</option>
        </select>
      </div>
    </section>

  </section>

  <section class="row">
    <section class="col-6">
      <a href="/" class="btn btn-danger" role="button" aria-pressed="true">Tillbaka</a>
    </section>
    <section class="col-6">
      <button id="start-game" class="btn btn-primary">Spela</button>
    </section>
  </section>
</section>