  <div class="modal">
    <div class="modalWin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body mx-auto">
                        <h5 class="modal-title">${this.title} ${this.winnerName}</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary restartButton" data-dismiss="modal">Spela igen</button>
                    <a href="/new-game" id="quit-game" class="btn btn-secondary showNavFoot" data-dismiss="modal" role="button" aria-pressed="true">Gå tillbaka</a>
                </div>
            </div>
        </div>
    </div>
</div>
