  <div class="modal">
    <div class="modalWin" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header mx-auto">
                    <h5 class="modal-title">${this.title}</h5>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary goldenButton">Spela igen</button>
                    <a href="/new-game" id="quit-game" class="btn btn-secondary" data-dismiss="modal" role="button" aria-pressed="true">Gå tillbaka</a>
                </div>
            </div>
        </div>
    </div>
</div>
