<form action="">
  <!-- Do we need the action attribute? -->

  <section class="row">

    <section class="col-6">
      <div class="form-group">
        <label for="player-name">Player 1:</label>
        <input type="text" class="form-control" id="player-name" placeholder="Enter player name">
      </div>
    </section>

    <section class="col-6">
      <div class="form-group">
        <label for="type-of-player">Opponent</label>
        <select class="form-control" id="type-of-player">
          <option>Player 2</option>
          <option>Computer</option>
        </select>
      </div>
    </section>

  </section>

  <section class="row">

    <section class="col-6">
      <div class="form-group">
        <label for="player2-name">Player 2:</label>
        <input type="text" class="form-control" id="player2-name" placeholder="Enter player name">
      </div>
    </section>

    <section class="col-6">
      <div class="form-group">
        <label for="type-of-player">Opponent</label>
        <select class="form-control" id="type-of-player">
          <option>Player 1</option>
          <option>Computer</option>
        </select>
      </div>
    </section>

  </section>

  <section class="row">
    <section class="col-6">
      <a href="/" class="btn btn-danger" role="button" aria-pressed="true">Go Back</a>
    </section>
    <section class="col-6">
      <button type="submit" class="btn btn-primary">Play</button>
    </section>
  </section>
</form>