<section class="row rules-page">
  <section class="row col-12">
    <section class="col-md-8 col-sm-12">
      <h2>Regler</h2>
      <p>Fyra i rad är ett tvåspelarspel där spelarna först väljer en färg och sedan turas om att lägga ner en bricka
        med
        färgen man valt från toppen i ett bräde med sju kolumner och sex rader. Brickorna faller rakt ner och upptar
        den
        lägsta lediga plats i kolumnen. Målet för en spelare är att först få fyra i rad med sin färg lodrätt, vågrätt
        eller diagonalt. Det har påvisats att spelaren som börjar kan om denne lägger sin bricka i mitten, vinna
        oavsett
        var
        motståndaren lägger resterande brickor.</p>
    </section>
    <section class="col-md-4 col-sm-12">
      <img class="img-fluid" src="/assets/img/connect-wood.png" alt="">
    </section>
  </section>

  <section class="row col-12">
    <section class="mt-1 col-md-8 col-sm-12 mt-2">
      <h2>Historia</h2>
      <p>Fyra i rads ursprung är oklar. Det påstås att ett en upptäckare vid namn Captain Cook spenderade mängder med
        tid
        att spela fyra i rad med andra resande. Detta skulle då ha gett upphov till ett annat namn för spelet,
        Captain's
        Mistress. Milton Bradley tog copyright på en version av spelet som kallades för Connect 4. </p>
    </section>
    <section class="mt-1 col-md-4 col-sm-12 mt-2">
      <img class="img-fluid" src="/assets/img/milton-bradley.png" alt="">
    </section>
  </section>
</section>