<section class="row rules-page">

  <section class="col-sm-12 col-md-6">
    <section class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-md-4">
        <img class="img-fluid" src="/assets/img/connect-wood.png" alt="">
      </div>
      <div class="col-md-4"></div>
    </section>
    <section class="row">
      <h2 class=" col-sm-12">
        Regler
      </h2>
      <p class="col-sm-12">Fyra i rad är ett tvåspelarspel där spelarna först väljer en färg och sedan turas om att
        lägga ner en bricka med färgen man valt från toppen i ett bräde med sju kolumner och sex rader. Brickorna
        faller rakt ner och upptar den lägsta lediga plats i kolumnen. Målet för en spelare är att först få fyra i rad
        med sin färg lodrätt, vågrätt
        eller diagonalt. Det har påvisats att spelaren som börjar kan om denne lägger sin bricka i mitten, vinna
        oavsett var
        motståndaren lägger resterande brickor.</p>
    </section>
  </section>


  <section class="col-sm-12 col-md-6">
    <section class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-md-4">
        <img class="img-fluid" src="/assets/img/milton-bradley.png" alt="">
      </div>
      <div class="col-md-4"></div>
    </section>
    <section class="row">
      <h2 class="col-sm-12">
        Historia
      </h2>
      <p class="col-sm-12">Fyra i rads ursprung är oklar. Det påstås att ett en upptäckare vid namn Captain Cook
        spenderade mängder med tid att spela fyra i rad med andra resande. Detta skulle då ha gett upphov till ett
        annat namn för spelet, Captain's Mistress. Milton Bradley tog copyright på en version av spelet som kallades
        för Connect 4.</p>
    </section>
  </section>

</section>