<section class="row rules-page">

  <section class="col-sm-12 col-md-6">
    <section class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-md-4">
        <img class="img-fluid" src="/assets/img/connect-wood.png" alt="">
      </div>
      <div class="col-md-4"></div>
    </section>
    <section class="row">
      <h2>
        Lorem ipsum dolor sit.
      </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores natus provident inventore nobis ea
        placeat ut, optio consequuntur eum necessitatibus impedit pariatur. Reiciendis non ut, officiis, doloremque
        recusandae vero quas tempore ipsum laboriosam rem possimus, eaque quos! Et, eos, quos similique porro atque
        eligendi laboriosam, explicabo possimus suscipit quam necessitatibus!</p>
    </section>
  </section>

  <section class="col-sm-12 col-md-6">
    <section class="row">
      <div class="col-md-4"></div>
      <div class="col-sm-12 col-md-4">
        <img class="img-fluid" src="/assets/img/milton-bradley.png" alt="">
      </div>
      <div class="col-md-4"></div>
    </section>
    <section class="row">
      <h2>
        Lorem ipsum dolor sit.
      </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores natus provident inventore nobis ea
        placeat ut, optio consequuntur eum necessitatibus impedit pariatur. Reiciendis non ut, officiis, doloremque
        recusandae vero quas tempore ipsum laboriosam rem possimus, eaque quos! Et, eos, quos similique porro atque
        eligendi laboriosam, explicabo possimus suscipit quam necessitatibus!</p>
    </section>
  </section>

</section>