<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
          <a href="https://papergames.io/en/connect4">
        <img src="/assets/img/cardimage3.jpg" class="card-img-top" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">PaperGames</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="https://www.coolmathgames.com/0-4-in-a-row">
          <img src="/assets/img/cardimage1.jpg" class="card-img-top" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">Cool Math Games</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <a href="https://www.mathsisfun.com/games/connect4.html">
          <img src="/assets/img/cardimage2.jpg" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h5 class="card-title">Math Is Fun</h5>
        </div>
      </div>
    </div>
  </div>