.game {
  background-color: #e0e0e0;

  .row {
    justify-content: center;
  }

  .col-1 {
    display: flex;
    flex-direction: column-reverse;

    &:hover {
      background-color: #ccc;
    }

    div {
      background-color: #fff;
      border-radius: 50%;
      height: 4vh;
      width: 4vh;
      margin: 1vh 0;

      &.player-one {
        background-color: blue;
      }

      &.player-two {
        background-color: red;
      }
    }
  }

  

}