.game {
  background-color: #e0e0e0;

  .row {
    justify-content: center;
    margin: 0;
  }

  .col-sm {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &:hover {
      background-color: #ccc;
    }

    > div {
      padding-top: 100%;
      position: relative;
      width: 100%;

      div {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        background-color: #fff;
        border-radius: 50%;
        
        &.player-one {
          background-color: blue;
        }
  
        &.player-two {
          background-color: red;
        }
    }

    }
  }

  

}