

.player1-section{
  border:solid black 1px;
}
.player2-section{
  border:solid black 1px;
}

.player {

  p {
    font-size: 2rem;
  }
  .active-player {
    color: #ffd700;
    animation: glow 1.5s ease-in-out infinite alternate;
  }
}
