.rules-page {
  h2 {
    font-family: "Charm", cursive;
    font-weight: bold;
  }
  p {
    font-family: "Charm", cursive;
    font-size: 1.25rem;
  }
  .row {
    margin-top: 2rem;
  }
}
