.my-inputpage-container{
    //border:solid black 10px;
    font-family: 'Pirata One', cursive;
    margin-top:50px;   
}

.my-inputpage-row1{
    //border:solid black 3px;
}
    .my-formgroup-player1{
        // border:solid black 1px;
        text-align: center;
    }
    .player-name-header{
        font-size:200%;   
    }
    .player-name{
        width:70%;
        margin:auto;
    }
    .player1-img-section{

    }
    .pirate1-img,.pirate2-img,.pirate3-img,.piratebot-img{
        margin-top:20px;
        cursor:pointer;
        opacity:0.2;
        border-radius:50px;
    }
    .pirate1-img:hover,.pirate2-img:hover,.pirate3-img:hover,.piratebot-img:hover{
        opacity:1;
    }
    .pirate1-img.active,.pirate2-img.active,.pirate3-img.active,.piratebot-img.active{
        opacity:1;
    }
    .piratebot-img{
        padding-left:50px;
    }





.my-inputpage-row2{
    //border:solid black 3px;
    margin-top:30px;
}
    .my-formgroup-player2{
        // border:solid black 1px;
        text-align: center;
    }










    





.start-goback-buttons{
    //border:solid black 1px;
    margin-top:60px;
}
.start-button{
    //border:solid black 1px;
    text-align:center;
}
.start-button img{
   // border:solid black 1px;
    height:130px;
    width:130px;
    border-radius:50px;
    margin-right:290px;
}
.go-back-button{
   //border:solid black 1px;
    text-align:center;
    
}
.go-back-button img{
    height:130px;
    width:130px;
    margin-left:290px;
}