.my-input-page-container{

    //border:solid black 10px;
    font-family: 'Pirata One', cursive;
    margin-top:50px;
    
}

.my-input-page-row-1{

    //border:solid black 3px;
    margin-top:10px;
}


.my-form-group-player1{

padding-left:50%;
text-align: center;

}
.my-players-name{

    font-size:200%;
    
}


.my-pirate-icons-box{

    //border:solid red 1px;
    margin-top:30px;
}
.humans-section{
    //border:solid black 1px;
}
.humans-section img{
    width:70px;
    height:70px;
    border-radius:50px;
}
.bot-section{
    //border:solid black 1px;
}
.bot-section img{
    width:70px;
    height:70px;
    border-radius:50px;
}




.start-goback-buttons{
    //border:solid black 1px;
    margin-top:60px;
}
.start-button{
    //border:solid black 1px;
    text-align:center;
}
.start-button img{
   // border:solid black 1px;
    height:130px;
    width:130px;
    border-radius:50px;
    margin-right:290px;
}
.go-back-button{
   //border:solid black 1px;
    text-align:center;
    
}
.go-back-button img{
    height:130px;
    width:130px;
    margin-left:290px;
}